<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/loading.css" />
  </head>
  <body>
    <!-- <div class="loading">
      <div class="title">
        <img
          width="250px"
          src="https://web.hycdn.cn/hg_web_sdk/assets/arknights/title.png"
        />
      </div>
      <div class="loadingprocess"></div>
    </div> -->
    <div class="home">
      <div class="head">
        <div class="lnr">
          <div>登录</div>
          |
          <div>注册</div>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li class="active" name="1">首页</li>
          <li name="2">情报</li>
          <li name="3">干员</li>
          <li name="4">设定</li>
          <li name="5">档案</li>
        </ul>
        <div class="dir">/ 01/ 05</div>
      </div>
      <div class="presentation">
        <div class="scrollList">
          <div class="firstPage">
            <div class="bgimg">
              <img
                width="75%"
                src="https://web.hycdn.cn/arknights/official/static/amiya.4cd2471ab732f5954f66.png"
              />
            </div>
            <div class="fPContent">
              <img
                width="150px"
                src="https://web.hycdn.cn/hg_web_sdk/assets/arknights/title.png"
              />
              <div class="fPTitle">
                <span>
                  <span>A</span>
                  <span>R</span>
                  <span>K</span>
                </span>
                <span>
                  <span>N</span>
                  <span>I</span>
                  <span>G</span>
                </span>
                <span>
                  <span>H</span>
                  <span>T</span>
                  <span>S</span>
                </span>
              </div>
              <span>RHODES ISLAND</span>
              <div class="fPFooter">
                <div class="gameDl">
                  <img
                    width="100px"
                    src="https://web.hycdn.cn/arknights/official/static/qr.c7ceabc360c69e5bb584.png"
                  />
                  <div>扫码下载</div>
                </div>
                <div class="downloadBtn">
                  <a
                    target="_blank"
                    href="https://apps.apple.com/cn/app/id1454663939"
                  >
                    <div style="--bg: #433e3e">App Store 下载</div>
                  </a>
                  <a
                    target="_blank"
                    href="https://ak.hypergryph.com/downloads/android_lastest"
                  >
                    <div style="--bg: #0eca0e">Android下载</div>
                  </a>
                  <a target="_blank" href="https://l.taptap.com/UsXMIuxq">
                    <div style="--bg: #23cacd">通过Taptap下载</div>
                  </a>
                </div>
                <div>
                  <img
                    height="100px"
                    src="https://web.hycdn.cn/arknights/official/static/age-tips.32cfababfafa8c51b9a5.png"
                  />
                </div>
              </div>
            </div>
            <div class="scrollTip">
              <div>SCROLL</div>
              <span style="--delay: 0s">></span>
              <span style="--delay: 0.5s">></span>
            </div>
          </div>
          <div class="information">
            <div class="infoNav">
              <ul>
                <li class="infoactive">最新</li>
                <li>公告</li>
                <li>活动</li>
                <li>新闻</li>
              </ul>
            </div>
            <div class="slideWrap">
              <div class="slideShow">
                <div class="slideList">
                  <div><img width="800px" height="180px" src="https://web.hycdn.cn/arknights/official/pic/20220805/5c9c5c5a833b7ca58d9faf3f2d37924f.jpg"></div>
                  <div><img width="800px" height="180px" src="https://web.hycdn.cn/arknights/official/pic/20220810/54c7611cc53779735a75e08ad651e48a.jpg"></div>
                  <div><img width="800px" height="180px" src="https://web.hycdn.cn/arknights/official/pic/20220129/92f408415fa8ece0371ba81e0b492cc2.jpg"></div>
                  <div><img width="800px" height="180px" src="https://web.hycdn.cn/arknights/official/pic/20220413/b83aed0aa2c86578a5fcd5e0049760de.jpg"></div>
                  <div><img width="800px" height="180px" src="https://web.hycdn.cn/arknights/official/pic/20210514/414b3f706b35fa856ae4956875670f50.jpg"></div>
                </div>
                <ul>
                  <li class="infoActive"></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
            <div class="infoNews">
              <ul>
                <li>
                  <div>
                    <span>2022-08-11</span>
                    <span class="infotype">公告</span>
                    <h1>[明日方舟]08月11日登录异常情况说明</h1>
                  </div>
                </li>
                <li>
                  <div>
                    <span>2022-08-11</span>
                    <span class="infotype">公告</span>
                    <h1>[明日方舟]关于08月11日登录异常情况修复说明</h1>
                  </div>
                </li>
                <li>
                  <div>
                    <span>2022-08-10</span>
                    <span class="infotype">公告</span>
                    <h1>[明日方舟]08月11日10:00版本更新停机维护公告</h1>
                  </div>
                </li>
                <li>
                  <div>
                    <span>2022-08-6</span>
                    <span class="infotype">活动</span>
                    <h1>[活动预告]2022「夏日嘉年华」活动即将开启</h1>
                  </div>
                </li>
                <li>
                  <div>
                    <span>2022-08-6</span>
                    <span class="infotype">活动</span>
                    <h1>[限定寻访·夏季]【巨斧与笔尖】限时寻访即将开启</h1>
                  </div>
                </li>
                <li>
                  <div>
                    <span>2022-08-6</span>
                    <span class="infotype">公告</span>
                    <h1>[明日方舟]【时装自选凭证】返还通知</h1>  
                  </div>
                </li>
              </ul>
            </div>
            <div class="moreInfo">
              <div class="moreInfoBtn">
                更多情报 ——>
              </div>
            </div>
          </div>
          <div class="character">
            <div class="characterNav">
              <ol>
                <li class="active" 
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/f40da70e0e3d2c89a89aa97c44b6498c.png" 
                charNm="阿米娅" 
                charEnm="AMIYA"
                charCv='黑泽朋世'
                chardiscrip="罗德岛的公开领袖，在内部拥有最高执行权。虽然，从外表上看起来仅仅是个不成熟的少女，实际上，她却是深受大家信任的合格的领袖。现在，阿米娅正带领着罗德岛，为了感染者的未来，为了让这片大地挣脱矿石病的阴霾而不懈努力。"
                >01 <span><img src="../public/src/shushi.png"></span><h1>阿米娅</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/f5d1be51761704001cc9e7bd7529c849.png" 
                charNm="凯尔希" 
                charEnm="KAL'TSIT"
                charCv='日笠阳子'
                chardiscrip="罗德岛最高管理者之一，阿米娅的直接辅导者。
                罗德岛医疗部门的总负责人。
                作为罗德岛的老成员，凯尔希医生是在阿米娅背后最稳固的援护者。"
                >02 <span><img src="../public/src/yiliao.png"></span><h1>凯尔希</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/eec21ae5cb8cce8872b07926a46eb2ed.png"
                charNm="红"
                charEnm="PROJEKT RED"
                charCv="小清水亚美"
                chardiscrip="红，身份不明，履历缺失，由凯尔希医生接收、监护并担保。
                于机动作战，特种作战与隐秘作战中表现出极高天赋，成绩斐然。
                现于凯尔希医生的指导下，作为特种干员为罗德岛提供服务。"
                >03 <span><img src="../public/src/tezhong.png"></span><h1>红</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/774aa017f2a8a5654d661cda1051beea.png"
                charNm="杜宾"
                charEnm="DOBERMANN"
                charCv="种崎敦美"
                chardiscrip="前玻利瓦尔军人，加入罗德岛后担任教官，主要负责基层和新晋干员培训，必要时刻，也会负责对俘虏的审讯。 
                熟悉各种规模的军事行动，自身作为士兵的素养也极高，作为近卫干员，在第一线带领队伍冲锋陷阵。"
                >04 <span><img src="../public/src/jinwei.png"></span><h1>杜宾</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/18469152aa1d779c037a259c61e60671.png"
                charNm="临光"
                charEnm="NEARL"
                charCv="佐仓绫音"
                chardiscrip="临光，前卡西米尔耀骑士，感染者援助团体“使徒”的一员。在掩护己方队员、机动作战、歼灭战与开阔地带作战中体现出极高的战斗技巧和个人军事素养。
                现于罗德岛作为重装干员行动，并于现场提供战术指挥支援。"
                >05 <span><img src="../public/src/zhongzhuang.png"></span><h1>临光</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/21c96f723a4638c0103798c65b4f5195.png"
                charNm="赫默"
                charEnm="SILENCE"
                charCv="鬼头明里"
                chardiscrip="赫默，莱茵生命有限公司源石有关项目研究员，曾主管数项未知应用研究，同期亦主持数个矿石病临床试验项目。 
                现于罗德岛为多项行动提供战场医疗救护服务。"
                >06 <span><img src="../public/src/yiliao.png"></span><h1>赫默</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/5f84a8f3c8deded1bf8dfc28b2bd7146.png"
                charNm="伊芙利特"
                charEnm="IFRIT"
                charCv="花守由美里"
                chardiscrip="伊芙利特，前莱茵生命医疗对象，重度感染者。拥有极高的源石适应性，伴随有多发性点火现象。进入莱茵生命前的履历缺失。
                现于罗德岛接受治疗，由医疗干员赫默担任监护与担保人。"
                >07 <span><img src="../public/src/shushi.png"></span><h1>伊芙利特</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/aad79b4cc62d3d7adc2948a0990ebca1.png"
                charNm="白面鸮"
                charEnm="PTILOPSIS"
                charCv="金元寿子"
                chardiscrip="白面鸮，前莱茵生命公司，数据维护专员。在医疗类源石技艺领域取得不菲成就，于医疗数据维护，常规医疗方案应用，多项目医疗行为等相关领域，拥有丰富经验。 
                现于罗德岛担任医疗干员，亦就职于医疗部门，某临床实验小组。同时，为罗德岛提供若干项医疗项目的相关辅助工作。"
                >08 <span><img src="../public/src/yiliao.png"></span><h1>白面鸮</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/416445fede74d8d23c6d5f2476d827b2.png"
                charNm="德克萨斯"
                charEnm="TEXAS"
                charCv="田所梓"
                chardiscrip="企鹅物流员工，单兵作战能力出类拔萃。 
                于合约期内任企鹅物流驻罗德岛联络人员，同时为罗德岛的多项行动提供协助。"
                >09 <span><img src="../public/src/jinwei.png"></span><h1>德克萨斯</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/ab532ac6f4df46164f9b097f2f6b677d.png"
                charNm="能天使"
                charEnm="EXUSIAI"
                charCv="石见舞菜香"
                chardiscrip="能天使，拉特兰公民，适用拉特兰一至十三项公民权益。企鹅物流公司成员。从事秘密联络，武装押运等非公开活动，推测身份：信使。于合约期内任企鹅物流驻罗德岛联络人员，同时为罗德岛多项行动提供协助。"
                >10 <span><img src="../public/src/juji.png"></span><h1>能天使</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/8752c3a0e09ab67178acebe117d536c1.png"
                charNm="可颂"
                charEnm="CROISSANT"
                charCv="久保百合花"
                chardiscrip="企鹅物流员工，于合约期内任企鹅物流驻罗德岛外派干员。 擅长防守，能同时牵制数个敌人，并拥有怪力，能用巨锤轻松击飞瘦弱的敌人。"
                >11 <span><img src="../public/src/zhongzhuang.png"></span><h1>可颂</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/87f341583ec61b4ce4f5b765464fe89d.png"
                charNm="陈"
                charEnm="CHEN"
                charCv="石上静香"
                chardiscrip="陈，龙门高级警司，龙门近卫局特别督查组组长，毕业于维多利亚皇家近卫学校，成绩优异，表现突出。在龙门近卫局供职期间，力主取缔龙门境内非法活动，对抗暴力犯罪和有组织犯罪，追缉武装逃犯与国际重犯等行动，并取得多项重大成果。
                现作为特别人员协助罗德岛行动，并为现场提供战术指挥支援。"
                >12 <span><img src="../public/src/jinwei.png"></span><h1>陈</h1></li>
                <li
                charImg="https://web.hycdn.cn/arknights/official/pic/20210112/22ab7b3789969d9c381b82d0f24c3c83.png"
                charNm="星熊"
                charEnm="HOSHIGUMA"
                charCv="安野希世乃"
                chardiscrip="星熊，龙门近卫局特别任务组精英干员。存在数项指控记录。
                经龙门总督魏彦吾交涉，龙门近卫局依星熊的优异能力与良好表现，破格将其吸纳进近卫局特别督察组。在处理高危险性犯罪事件、要员保护、灾害紧急救援等领域表现出较高专业性。
                现作为重装干员协助罗德岛行动，并为现场提供战术执行与指挥支援。"
                >13 <span><img src="../public/src/zhongzhuang.png"></span><h1>星熊</h1></li>
              </ol>
            </div>
            <div class="characterShow">
              <div class="charImg">
                <img height="800px" width="400px" src="https://web.hycdn.cn/arknights/official/pic/20210112/f40da70e0e3d2c89a89aa97c44b6498c.png">
              </div>
              <div class="characterCard">
                <div>
                  <h1>阿米娅</h1>
                  <div>
                    <div>AMIYA</div>
                    <div>CV:黑泽朋世</div>
                  </div>
                </div>
                <div class="chardiscrip">
                  罗德岛的公开领袖，在内部拥有最高执行权。虽然，从外表上看起来仅仅是个不成熟的少女，实际上，她却是深受大家信任的合格的领袖。现在，阿米娅正带领着罗德岛，为了感染者的未来，为了让这片大地挣脱矿石病的阴霾而不懈努力。
                </div>
              </div>
            </div>
          </div>
          <div class="settings">
            <div class="settingsBg">
              <img width="300px" src="https://web.hycdn.cn/arknights/official/static/rhodes.233a893d934d381666aa.png">
            </div>
            <ul>
              <li>源石 ORIGINIUMS</li>
              <li>源石技艺 ORIGINIUMS ARTS</li>
              <li>整合运动 REUNION</li>
              <li>感染者 INFECTED</li>
              <li>移动城邦 NOMADIC CITY</li>
              <li>罗德岛 RHODES ISLAND</li>
            </ul>
          </div>
          <div class="archives">
            <div class="archivesWrap">
              <div class='celebrationReview'>
                <div>
                  <img width="350px" src="https://web.hycdn.cn/arknights/official/static/celebReview.0ae9f4ea5533ea5fb304.png">
                </div>
                <div class="celebrationReview-info">
                  节事回顾
                  <span>celebration Review</span>
                  <div class="clickForInfo review">点击查看</div>
                </div>
              </div>
              <div class='operatorCompile'>
                <div>
                  <img width="350px" src="https://web.hycdn.cn/arknights/official/static/dynCompile.ac71803ad4fbdef368d5.png">
                </div>
                <div class="operatorCompile-info">
                  干员动态集录
                  <span>operator Dynamic Compile</span>
                  <div class="clickForInfo Compile">点击查看</div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr>
            <div class="footerLink">
              <ul>
                <li><a target="_blank" href="https://www.hypergryph.com/privacy">隐私协议</a></li>
                <li><a target="_blank" href="https://ak.hypergryph.com/protocol/authority">应用权限</a></li>
                <li><a target="_blank" href="https://www.hypergryph.com/agreement">用户注册协议</a></li>
                <li><a target="_blank" href="https://www.hypergryph.com/service">游戏使用许可及服务协议</a></li>
                <li><a target="_blank" href="https://www.hypergryph.com/custody">家长监护</a></li>
                <li><a target="_blank" href="https://www.hypergryph.com/connect">联系我们</a></li>
              </ul>
            </div>
            <ul>
              <li>沪ICP备17022476号-1</li>
              <li>沪网文〔2018〕0803-067号</li>
              <li>ISBN 978-7-498-05646-7</li>
              <li> 国新出审〔2019〕49号 </li>
              <li>沪公网安备 31010402005145</li>
              <li>亲爱的市民朋友，上海警方反诈劝阻电话“962110” 系专门针对避免您财产被骗受损而设，请您一旦收到来电，立即接听。</li>
            </ul>
            <hr>
            <div class="footerClaim">
              <div class="footerLogo">
                <img src="https://web.hycdn.cn/hg_web_sdk/lib/assets/copyright.9d5b52f50eeb45a71922.png" width="250px">
                <img src="https://web.hycdn.cn/hg_web_sdk/lib/assets/age-tip.5e9b351af134c60314ab.png" width="70px">
              </div>
              <div class="footerText">
                <div>
                  <p>开发者：上海鹰角网络科技有限公司</p>
                  <p><span>游戏当前版本：1.8.41</span> &nbsp;&nbsp;&nbsp;<span>游戏更新时间：2022/7/05</span></p>
                  <p>本网络游戏适合年满12周岁以上的用户使用; &nbsp;为了您的健康，请合理控制游戏时间</p>
                  <p>抵制不良游戏&nbsp;拒绝盗版游戏&nbsp;注意自我保护&nbsp;谨防受骗上当&nbsp;适度游戏益脑&nbsp;沉迷游戏伤身&nbsp;合理安排时间&nbsp;享受健康生活</p>
                  <br>
                  <br>
                  <p>Copyright&copy;2022 上海鹰角网络科技有限公司 上海市嘉定区南翔镇银翔路799号昌辉大厦504-1室 电话: 021-64399377 客服QQ: 800830064</p>
                </div>
                <div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../public/loading.js"></script>
    <script src="../public/home.js"></script>
  </body>
</html>
